:root {
  /* Primary Palette */
  --color-primary: #010d2cff;
  --color-bg: #0539bbc2;
  --color-bg-w: #0539bb79;
  --color-secondary: #292927ff;

  /* Neutrals */
  --color-faint: #818181ff;
  --color-fainte: #9b999934;
  --color-faint-black: #0000009f;
  --color-black: #000000;
  --color-white: #ffffffff;
  --color-faint-white: #ffffff91;

  /* Accent/Utility */
  --color-note: #fff159ff;
  --color-red: #ff2600e0;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
}

.card {
  border-radius: 10px;
  background-color: var(--color-bg-w);
  min-height: 100px;
  color: white;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  transition: 0.5s ease-in-out all;
  flex: 1;
}

/* .card:hover {
  background-color: blue;
  background-image: url("../../assets/profile.jpeg");
  background-position: center;
  background-size: cover;
} */

.cardTitle {
  font-size: 1.3rem;
  /* font-weight: bold; */
}

.cardRow {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.CardDigit {
  font-size: 2rem;
}

.cardIconBox {
  background-color: white;
  padding: 0.8rem;
  border-radius: 50;
}

.cardIcon {
  color: black;
}
