:root {
  /* Primary Palette */
  --color-primary: #010d2cff;
  --color-bg: #0539bbc2;
  --color-secondary: #292927ff;

  /* Neutrals */
  --color-faint: #818181ff;
  --color-fainte: #9b999934;
  --color-faint-black: #0000009f;
  --color-black: #000000;
  --color-white: #ffffffff;
  --color-faint-white: #ffffff91;

  /* Accent/Utility */
  --color-note: #fff159ff;
  --color-red: #ff2600e0;
}

.container {
  padding: 2rem 1rem;
  margin: 2rem 0;
  margin-bottom: 0;
  background-color: var(--color-bg);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
  margin-bottom: 1rem;
}

.nameNGreetings {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.greetings {
  display: flex;
  flex-direction: column;
}

.profile {
  width: 55;
  height: 55;
  border-radius: 50;
}

.profileName {
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: bold;
}
.greet {
  font-size: 1.1rem;
  color: var(--color-white);
}

.actionComponent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.searchBar {
  background-color: var(--color-white);
  padding: 0.2rem 0.2rem 0.2rem 0.7rem;
  display: flex;
  align-items: center;
  border-radius: 50;
  width: 80%;
  margin-right: 0.5rem;
}

.input {
  color: var(--color-black);
  font-size: 1.1rem;
  border-radius: 50;
  height: fit-content;
  padding-left: 0.5rem;
  outline: none;
}

.radar {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 50;
  background-color: var(--color-bg);
}

.message {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50;
  position: relative;
}

.message::after {
  content: "";
  display: block;
  width: 8;
  height: 8;
  background-color: rgb(255, 64, 64);
  position: absolute;
  border-radius: 50;
  bottom: 7;
  right: 10;
}
.notification {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50;
  position: relative;
}

.notification::after {
  content: "";
  display: block;
  width: 8;
  height: 8;
  background-color: rgb(255, 64, 64);
  position: absolute;
  border-radius: 50;
  bottom: 12;
  right: 10;
}
