@import "tailwindcss";
@import "tw-animate-css";

body {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  min-height: 100vh;
  /* width: 100%; */
  display: flex;
}

/* .mainView {
  flex: 1;
}
.board {
  flex: 3;
  padding: 1rem;
  padding-top: 0;
} */

/* .overview {
  height: 20rem;
  background-color: black;
  border-radius: 15px;
  padding: 1rem;
  color: white;

  background-image: url("../assets/profile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .profileShowcase {
  height: 300px;
  background-color: aqua;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.profileShowcaseImage {
  height: 100%;
  object-fit: cover;
} */

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.034);
  z-index: 10;
}

/* .profileInfo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 70%;
  background-color: rgba(5, 36, 26, 0.644);
  padding: 1rem;
}

.profileName {
  font-weight: bolder;
  font-size: 1.5rem;
  color: white;
} */

/* .profileDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .profileRole {
  color: rgba(255, 255, 255, 0.658);
  font-size: 0.8rem;
} */

/* .taskboard {
  background-color: black;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
} */

/* .taskHeading {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskHeading button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.taskHeading button:hover {
  background-color: blue;
}

.taskTitle {
  font-size: 1.7rem;
  font-weight: bold;
}

.taskBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
} */

.loginPage {
  width: 100%;
  height: 100vh;
  background-color: rgb(10, 26, 56);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.loginPage h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0;

  margin-bottom: 1rem;
}

.formContainer {
  border: 1px solid white;
  padding: 4rem;
  border-radius: 10px;
  width: 40%;
}

.formContainer input {
  background-color: #fff;
  color: black;
  padding: 0.1rem 0.4rem;
  border-radius: 5px;
  outline: none;
  padding: 0.6rem;
}

.formContainer button {
  background-color: white;
  padding: 0.7rem 1.3rem;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 0.5rem;
}

table {
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  background-color: #dbdbdbcb;
  border-bottom: 1px solid #64646479;
}

.th {
  background-color: #fff;
}

.tablehead {
  background-color: #fff;
}
.pending {
  background-color: rgb(30, 75, 0);
  color: rgb(255, 255, 255);
  padding: 0.2rem 0.3rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.tableTitle {
  border-radius: 10px;
}

.thead {
  background-color: rgb(46, 55, 63);
  padding: 1rem;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background-color: #6a88a5;
  font-weight: bold;
  padding: 1rem;
}

.btn-order {
  background-color: green;
  padding: 3px 16px;
  margin-right: 10px;
  border-radius: 50px;
  color: white;
}

/* /////////layout//////// */

.pageLayout {
  display: flex;
  gap: 1rem;
}

.sidebarComp {
  width: 5rem;
  height: fit-content;
}
.fixed {
  position: fixed;
  top: 2rem;
  bottom: 2rem;
}

.mainPageComp {
  flex: 4;
}
