.OrderPageContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.sidebarComponent {
  width: 20%;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProductsView {
  flex: 1;
  padding-bottom: 1rem;
  padding: 1rem;
}

.searchContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
  width: fit-content;
  gap: 0.5rem;
}

input {
  width: 300px;
  outline: none;
  border: none;
}
