.main {
  width: 100%;
  height: 100%;
}

.page {
  background-color: #0539bb79;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.actions {
  flex: 2;
}

.addon {
  flex: 1;
}

.addon-Items-container {
  width: 100%;
  height: 50%;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}
